body {
  background: url(../images/自然风景2.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 华文楷体
}
.header1 {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: 华文楷体
}
.header1 .container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.header1 .logo img {
  height: 40px;
}

.nav {
  display: flex;
  gap: 15px;
  font-family: 华文楷体
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}